body {
    font-size: .875rem;
}

.feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
}



.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 48px 0 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

@media (max-width: 767.98px) {
    .sidebar {
        top: 5rem;
    }
}

.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto;
    /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
    font-weight: 500;
    color: #333;
}

.sidebar .nav-link .feather {
    margin-right: 4px;
    color: #727272;
}

.sidebar .nav-link.active {
    color: #2470dc;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
    color: inherit;
}

.sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
}

.navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, .25);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .navbar-toggler {
    top: .25rem;
    right: 1rem;
}

.navbar .form-control {
    padding: .75rem 1rem;
    border-width: 0;
    border-radius: 0;
}

.form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
    border-color: transparent;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

.nav-link {
    cursor: pointer;
}

.p-row-all {
    cursor: pointer;
}

.p-row-all:hover {
    color: antiquewhite;
    background-color: rgb(64, 98, 161);
}

.showPhoto {
    height: 300px;
    width: 300px;
}

.button {
    font: bold 11px Arial;
    text-decoration: none;
    background-color: #EEEEEE;
    color: #333333;
    padding: 2px 6px 2px 6px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
}

.dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
}

/*************************/



.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 50%;
    overflow: auto;
    border: 1px solid #ddd;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

#dropdown a:hover {
    background-color: #ddd;
}


.form {
    width: 100%;
}

.show {
    display: block;
}

@font-face {
    font-family: wurth;
    src: url('../fonts/WuerthExtraBoldCond.ttf');
    font-weight: bold;
}

@font-face {
    font-family: futura;
    src: url('../fonts/FuturaCyrillicHeavy.ttf');
}

.p-title {
    margin-bottom: 1.2rem;
    font-size: 1.8rem;
    font-family: wurth;
    font-weight: normal;
    line-height: 1.2;
    text-transform: uppercase;
}

.p-description {
    font-family: futura;
    font-size: 1rem;
    line-height: 1.6;
    color: #636363;
    position: relative;
    z-index: 3;
    clear: both;
    margin: 0 0 12px 0;
}

.profileProducts {
    font-family: futura;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* #submitDate {
    visibility: hidden;
} */

#comment {
    margin-top: 25%;
}

.textarea {
    position: relative;
    border: 2px solid #ddd;
}

#textarea-btn {
    position: absolute;
    bottom: 3px;
    right: 3px;
    width: 60px;
}

#extarea-field {
    position: relative;
    border: none;
    resize: none;
    outline: none;
}

/* Sticky notes */


.h2-note {
    font-weight: bold;
    font-size: 20px;
}

.p-note .box-note {
    font-family: 'Reenie Beanie';
    font-size: 15px;
}

.ul-note, .li-note {
    list-style: none;
}

.ul-note {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.ul-note .li-note .a-note {
    text-decoration: none;
    color: #000;
    background: #ffc;
    display: block;
    height: 15em;
    width: 15em;
    padding: 1em;
    box-shadow: 5px 5px 7px rgba(33, 33, 33, .7);
    transform: rotate(-6deg);
    transition: transform .15s linear;
}

.ul-note .li-note:nth-child(even) .a-note {
    transform: rotate(4deg);
    position: relative;
    top: 5px;
    background: #cfc;
}

.ul-note .li-note:nth-child(3n) .a-note {
    transform: rotate(-3deg);
    position: relative;
    top: -5px;
    background: #ccf;
}

.ul-note .li-note:nth-child(5n) .a-note {
    transform: rotate(5deg);
    position: relative;
    top: -10px;
}

.ul-note .li-note .a-note:hover, .ul-note .li-note .a-note:focus {
    box-shadow: 10px 10px 7px rgba(0, 0, 0, .7);
    transform: scale(1.25);
    position: relative;
    z-index: 5;
}

.ul-note .li-note {
    margin: 1em;
}



#nav-link:hover, #nav-link:active {
    color: blue;
}

.input-orders {
    font-size: 16px;
    font-family: inherit;
    padding: 0.25em 0.5em;
    border: 2px solid var(--input-border);
    border-radius: 4px;
    transition: 180ms ease-in-out;
    color: #777;
    background-color: #eee;
}